/**
 * "Grid support" SCSS classes.
 * https://github.com/1000ch/grd-sass/blob/master/grd.scss
 */
$total-columns: 12 !default;

@mixin grdGrid {
  display: flex;
  flex-wrap: wrap;
}

@mixin grdCell {
  box-sizing: border-box;
  flex-shrink: 0;
}

.grdGrid {
  @include grdGrid;
}
.grdGrid.\-top {
  align-items: flex-start;
}
.grdGrid.\-middle {
  align-items: center;
}
.grdGrid.\-bottom {
  align-items: flex-end;
}
.grdGrid.\-stretch {
  align-items: stretch;
}
.grdGrid.\-baseline {
  align-items: baseline;
}
.grdGrid.\-left {
  justify-content: flex-start;
}
.grdGrid.\-center {
  justify-content: center;
}
.grdGrid.\-right {
  justify-content: flex-end;
}
.grdGrid.\-between {
  justify-content: space-between;
}
.grdGrid.\-around {
  justify-content: space-around;
}

.grdCell {
  @include grdCell;
}

.grdCell.\-fill {
  width: 0;
  min-width: 0;
  flex-grow: 1;
}

@for $index from 1 through $total-columns {
  .grdCell.\-#{$index}of#{$total-columns} {
    @if ($index != $total-columns) {
      width: calc(100% * #{$index} / #{$total-columns});
    } @else {
      width: 100%;
    }
  }
}





@include media-breakpoint-down(md) {
  // Jump to 1-wide, 100%-fill cards-in-flex at "md" breakpoint for "fill" cells
  .grdCell.\-fill {
    width: 100%;
  }

  // Jump to 1-wide, 100%-fill cards-in-flex at "md" breakpoint for bigger cells
  @for $index from 4 through 12 {
    .grdCell.\-#{$index}of#{$total-columns} {
      width: 100%;
    }
  }

  // Jump to 2-wide, 50%-fill cards-in-flex at "md" breakpoint for cell-size 3
  .grdCell.\-3of#{$total-columns} {
    width: 50%;
  }

  // Jump to "fill"-like behavior at "md" breakpoint for small cells  
  @for $index from 1 through 2 {
    .grdCell.\-#{$index}of#{$total-columns} {
      //width: calc(100% * 4 / #{$total-columns}); // Jump to 3-wide, 30%-fill cards-in-flex at "md" breakpoint for small cells
      width: 0;
      min-width: 0;
      flex-grow: 1;
    }
  }
}

@include media-breakpoint-down(xs) {
  // Jump to 100%-fill cards-in-flex at "xs" breakpoint
  @for $index from 1 through 3 {
    .grdCell.\-#{$index}of#{$total-columns} {
      width: 100%;
    }
  }
}