main section {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  padding: 1rem;
}

section.cta {
  background: linear-gradient(to right, #0072ff, #00c6ff);
  border-radius: 5px;
  padding: 2.5rem 1rem 2.5rem;
  color: #fff;
  text-align: center;
  h2 {
    color: #fff;
    margin-top: 0px;
  }
  .actions {
    padding-top: 1rem;
    margin-bottom: -1rem;
    .action {
      background-color: #142c64;
      border: 2px solid #0e2652;
      border-radius: 5px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      padding: 0.5rem;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        display: block;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}

section.cards {
  .card {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #e1e4e9;
    border-radius: 3px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
  }
}

main section.phase1 {
  background: linear-gradient(to right, #142c64, #207bea);
  border-radius: 5px;
  font-size: 2rem;
  line-height: 0.5rem;
  color: #fff;
  padding-bottom: 1.4rem;
}
